
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}


/* --------pozició+delay--------------------------------------------------------------------------------------*/
.star{
position:relative;
top:20%;
left:calc(100% - 120px);
z-index: 1;
}

.star-2{
top:15%;
left:calc(100% - 185px);
}
.star-2 .elso, .star-2 .masodik, .star-2 .harmadik, .star-2 .negyedik{
animation-delay: 0.6s ;
}

.star-3{
top:12%;
left:calc(100% - 263px);
}
.star-3 .elso, .star-3 .masodik, .star-3 .harmadik, .star-3 .negyedik{
animation-delay: 2.4s ;
}
.star-4{
    top:13.5%;
    left:calc(100% - 345px);
}
    .star-4 .elso, .star-4 .masodik, .star-4 .harmadik, .star-4 .negyedik{
    animation-delay: 1.2s ;
}
.star-5{
    top:10%;
    left:calc(100% - 363px);
}
.star-5 .elso, .star-5 .masodik, .star-5 .harmadik, .star-5 .negyedik{
animation-delay: 0.8s ;
}

.star-6{
    top:18.5%;
    left:calc(100% - 391px);
    }
    .star-6 .elso, .star-6 .masodik, .star-6 .harmadik, .star-6 .negyedik{
    animation-delay: 0.5s ;
}

.star-7{
    top:14%;
    left:calc(100% - 431px);
}
.star-7 .elso, .star-7 .masodik, .star-7 .harmadik, .star-7 .negyedik{
animation-delay: 2s ;
}

@media (max-width:500px) {
.star{
left:calc(100% - 70px);
}   

.star-2{
left:calc(100% - 135px);
}

.star-3{
left:calc(100% - 213px);
}

.star-4{
left:calc(100% - 295px);
}

.star-5{
left:calc(100% - 313px);
}

.star-6{
left:calc(100% - 341px);
}

        
.star-7{
left:calc(100% - 381px);
}

}
@media (max-width:425px) {
    .star{
    left:90%;
    }   
    
    .star-2{
    left:74%;
    }
    
    .star-3{
    left:57%;
    }
    
    .star-4{
    left:36%;
    }
    
    .star-5{
    left:28%;
    }
    
    .star-6{
    left:22%;
    }
    
            
    .star-7{
    left:10%;
    }
    
    }



/* ------csillagoklogika-------------------------------------------------------------------------------------------*/
.animation{
    position: absolute;
    left:0;
    top:0;
    height:100vh;
    width:100%;
    padding:0;
}

.night{
    display:block;
    margin:auto;
    height:100%;
    width:100%;
    overflow: hidden;
    max-width: 1300px;
}
.elso, .masodik, .harmadik, .negyedik{
    position: absolute;
   /* background: linear-gradient(-45deg,rgba(0,0,255,0),#5F91FF,rgba(0,0,255,0));*/
    border-radius: 100%;
    background: linear-gradient(-45deg,rgba(255, 208, 0, 0),#ffda5f,rgba(255, 208, 0, 0));
}

.elso{                      
    animation:shining 3s linear infinite alternate;

}
.masodik{
    animation:shining3 3s linear infinite alternate;

}

.harmadik{
    animation:shining2 3s linear infinite alternate;
}
.negyedik{
    animation:shining4 3s linear infinite alternate;

}

@keyframes shining{
    0%{
        transform: translateX(calc((-6px /2))) translateY(calc((-2px /2))) rotateZ(45deg);

        width:6px;
        height:2px;
    }
    100%{
        transform: translateX(calc((-25px /2))) translateY(calc((-3px /2))) rotateZ(45deg);
        height: 3px;
        width:25px;
    }

}

@keyframes shining3{
    0%{
        transform: translateX(calc((-6px /2))) translateY(calc((-2px /2))) rotateZ(-45deg);

        width:6px;
        height:2px;
    }
    100%{
        transform: translateX(calc((-25px /2))) translateY(calc((-3px /2))) rotateZ(-45deg);
        height: 3px;
        width:25px;
    }

}

@keyframes shining2{
    0%{
        transform: translateX(calc((-6px /2))) translateY(calc((-2px /2))) rotateZ(90deg);

        width:6px;
        height:2px;
    }
    100%{
        transform: translateX(calc((-15px /2))) translateY(calc((-2px /2))) rotateZ(90deg);
        height: 2px;
        width:15px;
    }

}
@keyframes shining4{
    0%{
        transform: translateX(calc((-6px /2))) translateY(calc((-2px /2))) rotateZ(180deg);

        width:6px;
        height:2px;
    }
    100%{
        transform: translateX(calc((-15px /2))) translateY(calc((-2px /2))) rotateZ(180deg);
        height: 2px;
        width:15px;
    }

}


